aiohttp==3.7.4
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
chardet==3.0.4
coverage==5.5
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
idna==3.2
iniconfig==1.1.1
mccabe==0.6.1
multidict==5.1.0
mypy==0.910
mypy-extensions==0.4.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytz==2021.1
six==1.16.0
toml==0.10.2
tox==3.23.1
typing-extensions==3.10.0.0
virtualenv==20.4.7
yarl==1.6.3
types-pytz==2021.1.0
